/*for some reason it will not work!!*/ 
@charset "utf-8"

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

header {
	background-color: rgb(124,197,118);
}
footer {
	background-color: rgb(124,197,118);
}
.logo1 {
	float: left;
}

.p1, .p2 {
	float: left;
	width: 70%;
	clear: left;
}
.logoside {
	float: left;
	width: 20%;
}
.sidebart {
	float: right;
	width: 20%;
}
.p3 {
	float: right;
	width: 20%;
	clear: right;
}
.main {
	float: left;
	clear: left;
}
.content2{
	clear: left;
}

.home, .about, .contact, .work{
	background-color: rgb(109,207,246);
	padding: 16px 32px;
	margin: 4px 2px
	border: none;
}
.home {
	float: left;
	margin: 15px;
	c
}
.about {
	float: left;
	margin: 15px;
}
.contact {
	float: right;
	margin: 15px;
}
.work {
	float: right;
	margin: 15px;
}
.img3, .img1, .img2 {
	float: left;
	margin: 100px;
}
.pf {
	float: left;
	clear: left;
}
